.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.product {
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.product img {
  width: 220px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.button-container button {
  background-color: blueviolet;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  outline: none;
  color: aliceblue;
}
